.user-image {
  height: 48px;
}
ul.current-members li {
  display: inline;
  padding: 5px;
  list-style-type: none;
}
ul.current-members li.current-user {
  background-color: gray;
}

ul.button-list {
  outline: none;
}

ul.button-list li {
  margin: 0 10px 0 0;
  list-style: none;
  display: inline-block;
  float: left;
}